@import '../../styles/main.scss';

.results__nomove {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond('phone') {
    margin-top: 30px;
  }
  .nomove{
    &-title {
      text-align: center;
      font-size: 64px;
      font-weight: 900;
      color: #ffff;
      margin-bottom: 30px;
      @include respond('phone') {
        font-size: 32px;
      }
    }
    &-img {
      width: 450px;
      align-self: center;
      @include respond('phone') {
        width: 90vw;
      }
    }
  }
}
