@import '../../styles/main.scss';
.game__board__container {
  flex-grow: 6;
  margin: 0 50px;
  @include respond('ipad-pro') {
    width: 90vw;
  }
  .game__board__info {
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include respond('ipad-pro') {
      width: 90vw;
      margin-bottom: 10vh;

    }
    .game__player {
      &__turn {
        flex-grow: 1;
        font-size: 36px;
      }
      &__name {
        flex-grow: 1;
        width: 40%;
        padding: 15px;
      }
    }
  }
  .game__board {
    margin: auto;
    background: $light-blue;
    min-width: 500px;
    border-radius: 20px;
    @include respond('ipad-pro') {
      min-width: 90vw;
    }
    &-row {
      display: flex;
    }
  }
}

.game__player__container {
  @include respond('ipad-pro') {
    display: none;
  }
}

.game__container {
  @include respond('ipad-pro') {
    height: 100%;
  }
}
