$bg-gradient-blue: linear-gradient(180deg, #EEF7FD 0%, #547AE8 100%);
$btn-gradient-blue: linear-gradient(181.28deg, #547AE8 1.1%, #639CEB 52.04%, #547AE8 98.91%);
$btn-gradient-red: linear-gradient(181.28deg, #FC0000 1.1%, #F77C7C 53.61%, #F45A5A 68.85%, #FC0000 98.91%);
$btn-gradient-green: linear-gradient(181.28deg, #80D18D 1.1%, rgba(145, 239, 160, 0.58) 47.46%, #80D18D 98.91%);
$light-gray: #E5E5E5;
$dark-gray: #D4D3D3;
$light-white: #F9FCFE;
$dark-blue: #547AE8;
$medium-blue: #639CEB;
$light-blue: #EEF7FD;
$red: #FC0000;

