@import '../../styles/main.scss';

.home__page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  .home__container {
    text-align: center;  
    background: $light-blue;
    width: 1195px;
    padding: 50px;
    min-height: 50vh;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    @media (max-width: 1440px) {
      width: 80vw;
    }
    @include respond('ipad') {
      margin-bottom: 50px;
    }
    @include respond('phone') {
      padding: 30px 20px;
    }
    .home__forms__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      @include respond('ipad-pro') {
        flex-direction: column;
      }
      .home__form__player {
        position: relative;
        z-index: 0;
        .player-img {
          position: absolute;
          width: 70%;
          z-index: -1;
          @include respond('phone') {
            width: 40%;
          }
        }
        .player1-img {
          top: -150px;
          left: -100px;
          @include respond('phone') {
            top: -105px;
            left: -28px;
          }
        }
        .player2-img {
          top: -120px;
          right: -120px;
          @include respond('phone') {
            top: -69px;
            right: -35px;
          }
        }
      }
      form {
        display: flex;
        flex-direction: column;
        .input-field {
          padding: 10px 30px;
          @include respond('phone') {
            width: 100%;
            padding: 10px;
          }
        }
        label {
          font-size: 64px;
          @include respond('phone') {
            font-size: 13vw;
          }
          &.player1-label {
            text-align: right;
            color: $red;
            font-weight: 800;
            @include respond('phone') {
              text-align: center;
            }
          }
          &.player2-label {
            text-align: left;
            color: $medium-blue;
            font-weight: 800;
            @include respond('phone') {
              text-align: center;
            }
          }
        }
        .player1-btn {
          margin: auto;
          margin-right: 0;
        }
      }
    }
    .home__vs {
      .vs-img {
        width: 100px;
        @include respond('ipad-pro') {
          padding: 50px 0;
        }
      }
    }
    button {
      margin-top: 50px;
    }
    .disabled-btn {
      background: $dark-gray;
    }
    .tooltip-btn {
      position: relative;
      &:hover .tooltiptext-btn {
        visibility: visible;
      }
    }
    .tooltiptext-btn {
      visibility: hidden;
      width: 200px;
      background-color: $light-white;
      color: $red;
      text-align: center;
      border-radius: 6px;
      padding: 20px;
      position: absolute;
      left: 0;
      right: 0;
      top: 70px;
      z-index: 1;
    }
  }
}
