@import '../../styles/main.scss';

.game__square {
  width: 100%;
  height: 100px;
  border: 2px solid $dark-gray;
  position: relative;
  &:focus {
    background-color: $dark-gray;
  }
  &:first-child {
    border-top: none;
    border-left: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  &:nth-child(2) {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  &:nth-child(3) {
    border-top: none;
    border-right: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  &.last-row {
    border-bottom: none;
  }
  .player-token {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}